# Set

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

# Set Items

In [ ]:
 Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
 True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [ ]:
 False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

In [ ]:
 Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types

In [ ]:
 Set items can be of any data type:
 String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}
print(set4)

{True, 34, 'male', 40, 'abc'}

In [ ]:
print(type(set4))

<class 'set'>

# The set() Constructor

In [ ]:
thisset = set(("apple", "banana", "cherry"))  note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# Python Collections (Arrays)

# Access Items

In [ ]:
 Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
 Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
 Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Add Items

In [ ]:
 Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [ ]:
 To add items from another set into the current set, use the update() method.

 Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'cherry', 'apple', 'mango', 'banana', 'pineapple'}

In [ ]:
 Add Any Iterable
 The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).


 Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'apple', 'orange', 'banana'}

In [ ]:
 Remove Item
 To remove an item in a set, use the remove(), or the discard() method.

 Remove "banana" by using the remove() method:
 If the item to remove does not exist, remove() will raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
 Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
 Note: If the item to remove does not exist, discard() will NOT raise an error.

{'cherry', 'apple'}

In [ ]:
 You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

 The return value of the pop() method is the removed item.

 Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
 Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'cherry', 'apple'}

In [ ]:
 The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# Python - Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

# Union
T

In [ ]:
 Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 'b', 3, 'c'}

In [ ]:
 You can use the | operator instead of the union() method, and you will get the same result.
 Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'a', 2, 'b', 3, 'c'}

## Join Multiple Sets

In [ ]:
 Join multiple sets with the union() method:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 'a', 2, 'b', 3, 'cherry', 'c', 'John', 'apple', 'bananas', 'Elena'}

## Join a Set and a Tuple

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 'a', 2, 'b', 3, 'c'}

## Update

In [ ]:
 The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 'b', 3, 'c'}

# Intersection

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
 You can use the & operator instead of the intersection() method, and you will get the same result.

 Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
 The values True and 1 are considered the same value. The same goes for False and 0.

 Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

# Difference

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [ ]:
 You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [ ]:
 Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

# Symmetric Differences
T

In [ ]:
 Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
 You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)
 Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

{'microsoft', 'cherry', 'banana', 'google'}

In [ ]:
The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

 Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'banana', 'google'}