## Python Loops


# The while Loop

In [ ]:


i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The break Statement

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# The continue Statement

In [4]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# The else Statement

In [5]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loop

In [ ]:


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# Looping Through a String

In [ ]:


for x in "banana":
  print(x)

b
a
n
a
n
a

# The break Statement

In [ ]:


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

## The continue Statement

In [ ]:


fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function

In [12]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [13]:
# Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:


for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:


for x in range(2, 30):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

## Else in For Loop

In [ ]:


for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:


for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:


adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:

for x in [0, 1, 2]:
  pass